<template>
  <flat-surface-shader
    class="shader"
    type="canvas"
    :light="light"
    :mesh="mesh"
  />
</template>

<script>
export default {
  data: () => ({
    // сети шейдера
    mesh: {
      // основной цвет
      ambient: '#3a3a3c',
      // цвет размытия
      diffuse: '#cdcbcd',
      // кол во обьектов по вертикали
      segments: 10,
      // кол во обьектов по горизонтали
      slices: 8,
      // ширина одного обьекта
      width: 1.2,
      // высота одного обьекта
      height: 1.2,
      // скорость волн
      speed: 0.002,
      // гравитация волн
      gravity: 1300,
      yRange: 0.2,
      xRange: 0.1,
      depth: 30
    },
    // падающий свет
    light: {
      // скорость следования за мышью
      speed: 0.0001,
      // радиус полета вокруг курсора
      dampening: 0.001,
      // основной цвет
      ambient: '#0016ff',
      // цвет размытия
      diffuse: '#0500ff',
      // кол-во источников света
      count: 1,
      // отдаления от сетей
      zOffset: 40,
      // отрисовывать ли тело источника света
      draw: false
    }
  })
}
</script>
