<template id="lateral">
  <div>
    <v-btn
      small
      fab
      light
      class="v-btn--color primary"
      @click="editColor"
    >
      <v-icon>mdi-invert-colors</v-icon>
    </v-btn>
    <v-speed-dial
      id="fabButton"
      v-model="fab"
      top
      right
      class="v-btn--translate"
      direction="bottom"
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          small
          color="primary"
          dark
          fab
        >
          <v-icon>mdi-earth</v-icon>
        </v-btn>
      </template>
      <template v-for="language in languages">
        <v-btn
          :key="language.value"
          fab
          dark
          color="white"
          @click="editLanguage(language.value)"
        >
          <v-avatar>
            <v-img :src="language.image" />
          </v-avatar>
        </v-btn>
      </template>
    </v-speed-dial>
  </div>
</template>

<script>
import {
  mapMutations
} from 'vuex'
export default {
  /**
   * Данные компонента
   */
  data: () => ({
    // модель выпадающего меню
    fab: false,
    // модель выбранного языка
    language: '',
    // языки и их иконки
    languages: [
      {
        image: require('@/assets/images/united-kingdom.svg'),
        value: 'en'
      },
      {
        image: require('@/assets/images/russia.svg'),
        value: 'ru'
      }
    ],
    // endregion
  }),
  /**
   * Методы компонента
   */
  methods: {
    // импортируем нужные мутации из хранилища
    ...mapMutations('app', ['setLocale', 'setDarkTheme']),
    /**
     * Смена языка
     */
    editLanguage (val) {
      this.$vuetify.lang.current = val
      this.$i18n.locale = val
      this.setLocale(val)
    },
    /**
     * Смена темы приложения
     */
    editColor () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      this.setDarkTheme()
    }
  }
}
</script>

<style scoped>
    .v-btn--color {
        top: 16px;
        right: 60px;
        position: absolute;
        margin: 0 0 16px 16px;
    }
    .v-btn--translate {
        top: 16px;
        right: 10px;
        position: absolute;
        margin: 0 0 16px 16px;
    }
    .v-speed-dial__list .v-btn {
        margin: 5px 0;
    }
</style>
