<template>
  <vue100vh :css="{height: '100rvh', overflowY: 'auto'}">
    <v-app>
      <template v-if="$route.meta.shader">
        <v-content>
          <!-- Шейдер фона для авторизации -->
          <helper-bg-shader />
          <!-- Вспомогательные эллементы -->
          <v-fade-transition mode="out-in">
            <!-- содержимое страницы -->
            <router-view />
          </v-fade-transition>
          <helper-interface />
        </v-content>
      </template>
      <template v-else>
        <!-- Выпадающее левое меню -->
        <core-drawer v-if="!$route.meta.shader" />
        <!-- Верхнее меню -->
        <core-bar />
        <v-content>
          <v-fade-transition mode="out-in">
            <router-view />
          </v-fade-transition>
        </v-content>
      </template>
      <core-snackbar />
    </v-app>
  </vue100vh>
</template>

<script>
import i18n from '@/translate'
import vue100vh from 'vue-100vh'
export default {
  components: {
    vue100vh
  },
  metaInfo () {
    return {
      // заголовок вкладки
      title: i18n.t(this.$route.meta.locale) || 'Araneor'
    }
  }
}
</script>

<style>
</style>
