<template>
  <v-app-bar
    v-if="appBar"
    app
    color="primary darken-2"
    dark
  >
    <!-- Иконка вызова бокового меню -->
    <v-app-bar-nav-icon @click.stop="toggleDrawer">
      <v-icon>mdi-menu</v-icon>
    </v-app-bar-nav-icon>
    <!-- Заголовок страницы -->
    <v-toolbar-title class="text-no-wrap">
      {{ title }}
    </v-toolbar-title>
    <v-spacer />
    <!-- Кнопка смены темы -->
    <v-btn
      icon
      @click="editColor"
    >
      <v-icon>mdi-invert-colors</v-icon>
    </v-btn>
    <!-- Кнопка смены языка -->
    <v-menu
      v-model="languagesMenu"
      close-on-click
      close-on-content-click
      content-class="elevation-0"
      absolute
    >
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          v-on="on"
        >
          <v-icon>mdi-earth</v-icon>
        </v-btn>
      </template>
      <v-list class="transparent">
        <v-list-item
          v-for="language in languages"
          :key="language.value"
        >
          <v-btn
            :key="language.value"
            fab
            dark
            color="white"
            @click="editLanguage(language.value)"
          >
            <v-avatar>
              <v-img :src="language.image" />
            </v-avatar>
          </v-btn>
        </v-list-item>
      </v-list>
    </v-menu>
    <!-- Кнопка доп параметров -->
    <v-btn icon>
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapMutations } from 'vuex'
import i18n from '@/translate'

export default {
  name: 'Bar',
  data: () => ({
    // модель меню выбора языка
    languagesMenu: false,
    // выбранный язык
    language: '',
    // возможные языки
    languages: [
      {
        image: require('@/assets/images/united-kingdom.svg'),
        value: 'en'
      },
      {
        image: require('@/assets/images/russia.svg'),
        value: 'ru'
      }
    ],
  }),
  computed: {
    appBar () {
      return !!this.$store.state.token
    },
    title () {
      return i18n.t(this.$route.meta.locale)
    }
  },
  methods: {
    ...mapMutations('app', ['toggleDrawer', 'setLocale', 'setDarkTheme']),
    editLanguage (val) {
      this.$vuetify.lang.current = val
      this.$i18n.locale = val
      this.setLocale(val)
    },
    editColor () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      this.setDarkTheme()
    }
  },
}
</script>

<style scoped>

</style>
