<template>
  <!-- Боковое меню приложения -->
  <v-navigation-drawer
    v-model="drawer"
    app
  >
    <v-list-item>
      <v-list-item-avatar>
        <v-img src="https://randomuser.me/api/portraits/men/62.jpg" />
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>Иван Иванов</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider />
    <!-- Вкладки приложения -->
    <v-list dense>
      <v-list-item
        v-for="item in items"
        :key="item.title"
        :to="item.path"
        link
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item
        link
        @click="exit"
      >
        <v-list-item-icon>
          <v-icon>mdi-exit-to-app</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ $t('exit') }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'


export default {
  name: 'Drawer',
  /**
     * Вычисляемые свойства
     */
  computed: {
    ...mapGetters('app', ['getDrawer']),
    // состояние выпадающего левого меню
    drawer: {
      get () {
        return this.getDrawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    // содержимое меню
    items () {
      return [
        { title: 'MainPage', icon: "mdi-view-dashboard", path: "/" },
        { title: 'myBots', icon: "mdi-sitemap", path: "/bots" },
      ]
    }
  },
  /**
     * Методы компонента
     */
  methods: {
    ...mapMutations('app', ['setDrawer']),
    ...mapMutations(['deleteToken']),
    exit(){
      this.deleteToken();
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>

</style>
