<template>
  <v-snackbar
    v-model="error"
    color="red"
  >
    {{ getErrorText }}
    <v-btn
      color="white"
      text
      @click="error = false"
    >
      Закрыть
    </v-btn>
  </v-snackbar>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  name: "Snackbar",
  computed:{
    ...mapGetters('app', ['getError', 'getErrorText']),
    error: {
      get() {
        return this.getError
      },
      set(val) {
        return this.setError(val)
      }
    }   
  },
  methods: {
    ...mapMutations('app', ['setError'])
  }  
}
</script>

<style scoped>

</style>