<template>
  <div>
    <v-container
      v-for="response in responses"
      :key="response.id"
      class="pt-1"
    >
      <v-card
        class="ma-0 elevation-6 info darken-3"
        max-width="200px"
      >
        <v-card-text
          class="pa-0"
        >
          <v-list-item>
            <v-list-item-avatar>
              <v-icon class="white--text">
                mdi-comment-arrow-left
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-subtitle class="title white--text">
                {{ response.message }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card-text>
        <v-card-actions class="pa-0 ma-0 income_fab">
          <v-speed-dial
            style="transform: translateY(10px)"
            fab
            x-small
            absolute
            bottom
            right
            direction="right"
            transition="slide-y-reverse-transition"
          >
            <template v-slot:activator>
              <v-btn
                color="secondary"
                dark
                fab
                x-small
                absolute
                bottom
                right
                class="elevation-12"
              >
                <v-icon>
                  mdi-dots-horizontal
                </v-icon>
              </v-btn>
            </template>
            <v-btn
              color="red"
              dark
              fab
              x-small
              @click="showIncomeDeleteModal(response.id)"
            >
              <v-icon dark>
                mdi-delete-forever
              </v-icon>
            </v-btn>
            <v-btn
              color="success"
              fab
              x-small
              @click="addResponseModal(response.id)"
            >
              <v-icon>mdi-comment-arrow-right</v-icon>
            </v-btn>
            <v-btn
              color="success"
              fab
              x-small
              @click="addFileModal(response.id)"
            >
              <v-icon>mdi-file-document</v-icon>
            </v-btn>
            <v-btn
              color="primary"
              fab
              x-small
              @click="addIncomingMessage(response.id)"
            >
              <v-icon>mdi-comment-arrow-left</v-icon>
            </v-btn>
            <v-btn
              color="info"
              fab
              x-small
              @click="editIncomeMessage({id: response.id, text: response.message})"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </v-speed-dial>
        </v-card-actions>
      </v-card>
      <v-container
        class="pa-0"
      >
        <v-row>
          <v-col
            v-for="responsemessage in response.responsemessage_set"
            :key="responsemessage.id"
            cols="12"
            xs="12"
            sm="6"
            md="4"
            lg="2"
            class="pa-1 pb-0"
          >
            <v-card
              class="ma-5 elevation-4"
              width="300px"
            >
              <v-card-text
                class="pa-0"
              >
                <p class="pa-2 subtitle-1">
                  <v-icon>
                    mdi-comment-arrow-right
                  </v-icon> {{ responsemessage.message }}
                </p>
              </v-card-text>
              <v-card-actions class="ma-0 pa-0">
                <v-btn
                  style="transform: translateX(-35px)"
                  color="red"
                  fab
                  x-small
                  absolute
                  bottom
                  right
                  @click="showResponseDeleteModal(responsemessage.id)"
                >
                  <v-icon class="white--text">
                    mdi-delete-forever
                  </v-icon>
                </v-btn>
                <v-btn
                  color="info"
                  fab
                  x-small
                  absolute
                  bottom
                  right
                  @click="editResponseModal({ id: responsemessage.id, text: responsemessage.message })"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col
            v-for="responsephoto in response.responsephoto_set"
            :key="responsephoto.id"
            cols="12"
            xs="12"
            sm="6"
            md="4"
            lg="2"
            class="pa-1 pb-0"
          >
            <v-card
              class="ma-5 elevation-4"
              width="300px"
            >
              <v-card-text
                class="pa-5"
              >
                <v-img
                  contain
                  max-height="250px"
                  :src="responsephoto.photo"
                />
              </v-card-text>
              <v-card-actions class="ma-0 pa-0">
                <v-btn
                  style="transform: translateX(-35px)"
                  color="red"
                  fab
                  x-small
                  absolute
                  bottom
                  right
                  @click="showFileDeleteModal(responsephoto.id)"
                >
                  <v-icon class="white--text">
                    mdi-delete-forever
                  </v-icon>
                </v-btn>
                <v-btn
                  color="info"
                  fab
                  x-small
                  absolute
                  bottom
                  right
                  @click="editFileModal({ id: responsephoto.id, photo: responsephoto.photo })"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <responses-map
          v-if="response.children"
          :responses="response.children"
        />
      </v-container>
    </v-container>
  </div>
</template>

<script>
import {mapMutations} from "vuex";

export default {
  name: "Map",
  props: {
    responses: {
      type: Array,
      required: true,
    }
  },
  methods: {
    ...mapMutations('responses', 
      ['setModalResponseMessage',
        'setBotResponseId',
        'setBotResponseMessageId',
        'setBotResponseMessage',
        'addIncomingMessage',
        'editIncomeMessage',
        'addResponseModal',
        'editResponseModal',
        'closeResponseModal',
        'showResponseDeleteModal',
        'showIncomeDeleteModal',
        'addFileModal',
        'editFileModal',
        'showFileDeleteModal'
      ]),
  }
}
</script>

<style scoped>

</style>
