<template>
  <v-dialog
    v-model="model.show"
    persistent
    max-width="600px"
  >
    <v-card shaped>
      <v-card-title class="justify-center">
        <span class="headline">Вы действительно хотите удалить обьект?</span>
      </v-card-title>
      <v-card-text class="d-flex justify-center ma-0">
        {{ model.description }}
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="red darken-1"
          text
          @click="model = false"
        >
          Отмена
        </v-btn>
        <v-btn
          color="success darken-1"
          text
          @click="send"
        >
          Удалить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  name: "Delete",
  computed:{
    ...mapGetters('responses', ['getModalDelete', 'getBotId']),
    model: {
      set() {
        this.closeDeleteModal()
      },
      get() {
        return this.getModalDelete
      }
    },
  },
  methods: {
    ...mapMutations('responses', ['closeDeleteModal', 'setResponses']),
    send(){
      this.$http.delete(`/${this.model.type}/${this.model.id}/`).catch(() => {
        this.setErrorText("Неккоректные данные")
        this.setError(true)
      }).then((response) => {
        if (response) {
          this.model = false
          this.updateMap()
        }
      })
    },
    updateMap() {
      this.$http.get(`bot-response/${this.getBotId}/`)
        .then((response) => {
          if (response) {
            this.setResponses(response.data)
          }
        })
    }
  }
}
</script>

<style scoped>

</style>