<template>
  <v-dialog
    v-model="income.show"
    persistent
    max-width="600px"
  >
    <v-card>
      <v-card-title class="mb-5">
        <span class="headline">{{ income.photo ? 'Изменить' : 'Добавить' }} фото</span>
      </v-card-title>
      <v-card-text>
        <v-file-input
          v-model="image"
          :label="income.photo ? 'Обновите изображение': 'Добавьте новое изображение'"
          accept="image/jpeg,image/png,image/gif"
        />
      </v-card-text>
      <v-img
        v-if="income.photo || image"      
        contain
        max-height="500px"
        :src="file_url"
      />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="red darken-1"
          text
          @click="income = false"
        >
          Закрыть
        </v-btn>
        <v-btn
          color="success darken-1"
          text
          @click="saveResponse"
        >
          {{ $t(income.type) }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  name: "FileMessage",
  data(){
    return {
      valid: false,
      image: null
    }
  },
  computed: {
    ...mapGetters('responses', ['getModalFileMessage', 'getBotId']),
    income: {
      set() {
        this.closeFileModal()
      },
      get() {
        return this.getModalFileMessage
      }
    },
    file_url() {
      if (this.image) return URL.createObjectURL(this.image)
      if (this.income.photo) return this.income.photo
      return null
    }
  },
  methods: {
    ...mapMutations('responses', ['closeFileModal', 'setResponses']),
    addResponse() {
      let fd = new FormData();
      fd.append('photo', this.image);
      fd.append('bot_response', this.income.bot_response);
      this.$http.post('response-photo/', fd, {
        "content-type": "multipart/form-data"
      }).catch(() => {
        this.setErrorText("Неккоректные данные")
        this.setError(true)
      }).then((response) => {
        if (response) {
          this.image = null
          this.income = false
          this.updateMap()
        }
      })
    },
    editResponse() {
      let fd = new FormData();
      fd.append('photo', this.image);
      this.$http.patch(`response-photo/${this.income.id}/`, fd, {
        "content-type": "multipart/form-data"
      }).catch(() => {
        this.setErrorText("Неккоректные данные")
        this.setError(true)
      }).then((response) => {
        if (response) {
          this.image = null
          this.income = false
          this.updateMap()
        }
      })
    },
    saveResponse() {
      if (this.income.id) {
        this.editResponse()
      } else {
        this.addResponse()
      }
    },
    updateMap() {
      this.$http.get(`bot-response/${this.getBotId}/`)
        .then((response) => {
          if (response) {
            this.setResponses(response.data)
          }
        })
    }
  }
}
</script>

<style scoped>

</style>