<template>
  <v-dialog
    v-model="income.show"
    persistent
    max-width="600px"
  >
    <v-card>
      <v-card-title class="mb-5">
        <span class="headline">{{ $t(income.type) }} входящее сообщение</span>
      </v-card-title>
      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-textarea
            v-model="income.text"
            outlined
            :label="$t('Сообщение, которое вызовет событие')"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="red darken-1"
          text
          @click="income = false"
        >
          Закрыть
        </v-btn>
        <v-btn
          color="success darken-1"
          text
          @click="saveResponse"
        >
          {{ $t(income.type) }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  name: "IncomingMessage",
  data(){
    return {
      valid: false,
    }
  },
  computed: {
    ...mapGetters('responses', ['getModalIncomingMessage', 'getBotId']),
    income: {
      set() {
        this.closeIncomeModal()
      },
      get() {
        return this.getModalIncomingMessage
      }
    },
  },
  methods: {
    ...mapMutations('responses', ['closeIncomeModal', 'setResponses']),
    addResponse() {
      this.$http.post('bot-response/', {
        bot: this.getBotId,
        message: this.income.text,
        parent_message: this.income.parentId
      }).catch(() => {
        this.setErrorText("Неккоректные данные")
        this.setError(true)
      }).then((response) => {
        if (response) {
          this.income = false
          this.updateMap()
        }
      })
    },
    editResponse() {
      this.$http.patch(`bot-response/${this.income.id}/`, {
        message: this.income.text,
      }).catch(() => {
        this.setErrorText("Неккоректные данные")
        this.setError(true)
      }).then((response) => {
        if (response) {
          this.income = false
          this.updateMap()
        }
      })
    },
    saveResponse() {
      if (this.$refs.form.validate()) {
        if (this.income.id) {
          this.editResponse()
        } else {
          this.addResponse()
        }
      }
    },
    updateMap() {
      this.$http.get(`bot-response/${this.getBotId}/`)
        .then((response) => {
          if (response) {
            this.setResponses(response.data)
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
