/* Все стили приложения собраны тут */
@import '~vuetify/src/styles/styles.sass'
@import "shader/index"
@import "helper"
@import "components/ui/card"
@import "views/login"

html
  overflow-y: auto
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  overflow-x: hidden

