<template>
  <v-container>
    <v-stepper
      v-model="steep"
      vertical
    >
      <v-stepper-step
        :editable="steep <= 2"
        :complete="steep > 1"
        step="1"
      >
        Создайте бота в нужном вам сервисе
      </v-stepper-step>

      <v-stepper-content step="1">
        <template
          class="mb-12"
        >
          <v-card>
            <v-alert
              type="info"
            >
              В целях безопасности вам стоит самостоятельно создать бота
            </v-alert>
            <v-card-text>
              <v-select
                v-model="type"
                :items="types"
                item-value="id"
                item-text="name"
                class="mb-5"
                menu-props="auto"
                label="Выберите тип сервиса"
                hide-details
                prepend-icon="mdi-telegram"
                single-line
              />
              <template
                v-if="type"
                class="mt-5"
              >
                <v-alert
                  type="info"
                  outlined
                >
                  Создайте и настройте бота в Telegram через официального бота @BotFather.
                </v-alert>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-wrap">
                      1. Откройте в Telegram бота <a
                        href="https://tele.gs/botfather"
                        class="cyan--text"
                      >@BotFather</a>.
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-wrap">
                      2. Отправьте ему команду /newbot
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-img
                  class="white--text ml-5"
                  max-width="400px"
                  :src="require('@/assets/images/newbot.jpg')"
                />
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-wrap">
                      3. Задайте имя для вашего нового бота. Имя будет отображаться в контактах и чатах.
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-img
                  class="white--text ml-5"
                  max-width="400px"
                  :src="require('@/assets/images/namebot.jpg')"
                />
                <v-alert
                  class="mt-5"
                  type="info"
                  outlined
                >
                  Осталось придумать Username, это короткое имя на латинице, которое используется для упоминаний бота и в ссылках на профиль в telegram.me. Username должен состоять из букв латинского алфавита, подчёркиваний и цифр и быть длиной от 5 до 32 символов. Также имя пользователя обязательно должно заканчиваться на «bot», например: «tetris_bot» или «TetrisBot».
                </v-alert>
                <v-img
                  class="white--text ml-5"
                  max-width="400px"
                  :src="require('@/assets/images/usernamebot.jpg')"
                />
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-wrap">
                      4. Вставьте полученный токен в поле ниже
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-text-field
                  v-model="token"
                  :label="$t('Токен')"
                  prepend-icon="mdi-account-key"
                  name="token"
                  type="text"
                  required
                />
              </template>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="success"
                @click="steep = 2"
              >
                Продолжить
              </v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-stepper-content>

      <v-stepper-step
        :complete="steep > 2"
        step="2"
      >
        Добавьте описание
      </v-stepper-step>

      <v-stepper-content step="2">
        <v-card>
          <v-card-text>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-text-field
                v-model="name"
                :rules="[v => !!v || $t('fieldRequired')]"
                :label="$t('Название вашего бота в нашем сервисе')"
                class="mb-2"
                prepend-icon="mdi-rename-box"
                name="text"
                type="text"
                required
              />

              <v-textarea
                v-model="description"
                outlined
                :label="$t('Описание вашего бота')"
                prepend-icon="mdi-text"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              @click="sendBotData()"
            >
              Продолжить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-stepper-content>

      <v-stepper-step
        :complete="steep > 3"
        step="3"
        class="green--text"
      >
        Готово!
      </v-stepper-step>

      <v-stepper-content step="3">
        <v-card
          class="pa-2"
        >
          <v-img
            class="white--text align-end"
            :src="require('@/assets/images/finalyregister.svg')"
            max-width="400px"
          />
          <v-card-title>
            Произведите первоначальную настройку ответов
          </v-card-title>

          <v-card-subtitle class="pb-0">
            <v-row
              align="center"
              class="mx-0"
            >
              <div class="grey--text mr-4">
                Сложность
              </div>

              <v-rating
                :value="2.5"
                color="amber"
                dense
                half-increments
                readonly
                size="14"
              />
            </v-row>
          </v-card-subtitle>

          <v-card-text class="text--primary">
            <div>
              Настройте ответы бота, в зависимости от входещих ему сообщений
              Ваши ответы могут содержатать не только текст.
              <br>
              Картинки, видео, файлы - этим так же может отвечать ваш бот
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn
              color="success"
              @click="$router.push(`/bots/${bot_id}/responses`)"
            >
              Настроить ответы
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-stepper-content>
    </v-stepper>
  </v-container>
</template>

<script>
export default {
  name: "Add",
  data() {
    return {
      steep: 1,
      types: [
        "Telegram"
      ],
      type: 1,
      token: null,
      valid: false,
      name: null,
      description: null,
      bot_id: null
    }
  },
  created() {
    this.$http.get('bot-types/')
      .then((response) => {
        if (response) {
          this.types = response.data
        }
      }).finally(() => this.loading = false)
  },
  methods: {
    sendBotData() {
      if (this.$refs.form.validate()) {
        this.$http.post('bot/', {
          token: this.token,
          type: this.type,
          name: this.name,
          description: this.description,
        }).catch((error) => {
          if(error.response.data.email) {
            this.setErrorText(error.response.data.email)
            this.setError(true)
          }
          else{
            this.setErrorText("Неккоректные данные")
            this.setError(true)
          }
          this.steep = 1
        }).then((response) => {
          if(response){
            let data = response.data
            this.bot_id = data.id
            this.steep = 3
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>