<template>
  <v-container class="mt-5">
    <v-card
      v-for="bot in bots"
      :key="bot.id"
      max-width="650"
      class="mx-auto mb-2"
    >
      <v-list-item>
        <v-list-item-avatar color="grey" />
        <v-list-item-content>
          <v-list-item-title class="headline">
            {{ bot.name }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ bot.description }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-actions>
        <v-switch
          :input-value="bot.is_active"
          :label="`Бот ${bot.is_active ? 'Включен': 'Выключен'}`"
          @change="switchBot(bot)"
        />
        <v-spacer />
        <v-btn
          text
          color="success"
          @click="$router.push(`/bots/${bot.id}/responses/`)"
        >
          Ответы
        </v-btn>
        <v-btn
          text
          color="info"
          @click="$router.push(`/bots/${bot.id}/responses/`)"
        >
          Настройка
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card
      class="mx-auto mt-5"
      max-width="400"
    >
      <v-img
        class="white--text align-end"
        height="200px"
        :src="require('@/assets/images/create_bot.svg')"
      />
      <v-card-title>
        Добавьте еще одного бота
      </v-card-title>

      <v-card-subtitle class="pb-0">
        <v-row
          align="center"
          class="mx-0"
        >
          <div class="grey--text mr-4">
            Сложность
          </div>

          <v-rating
            :value="3.5"
            color="amber"
            dense
            half-increments
            readonly
            size="14"
          />
        </v-row>
      </v-card-subtitle>

      <v-card-text class="text--primary">
        <div>
          Проследуйте небольшой инструкции и заполните данные по боту, в дальнейшем вам будет доступна
          настройка его ответов
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="success"
          text
          @click="$router.push('/bots/add')"
        >
          Добавить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "Bots",
  data() {
    return {
      bots: []
    }
  },
  created() {
    this.$http.get('bot/')
      .then((response) => {
        if (response) {
          this.bots = response.data
        }
      })
  },
  methods: {
    switchBot(bot){
      this.$http.patch(`bot/${bot.id}/switch/`)
        .then((response) => {
          if (response) {
            bot.is_active = !bot.is_active
          }
        })
    }
  }
}
</script>

<style scoped>

</style>