<template>
  <v-container id="create">
    <responses-map
      class="custom_scroll"
      style="overflow: auto; height: 85vh"
      :responses="getResponses"
    />
    <responses-dialog-incoming-message />
    <responses-dialog-response-message />
    <responses-dialog-file-message />
    <responses-dialog-delete />
    <v-speed-dial
      v-model="fab"
      bottom
      right
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="blue darken-2"
          dark
          fab
        >
          <v-icon v-if="fab">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-plus
          </v-icon>
        </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="green"
        @click="addIncomingMessage"
      >
        <v-icon>mdi-message</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
export default {
  name: "Responses",

  props: {
    bot_id: {
      required: true,
    }
  },
  data: () => ({
    responses: [],
    fab: false,
  }),
  computed: {
    ...mapGetters('responses', ['getResponses'])
  },
  created() {
    this.setBotId(this.bot_id)
    this.$http.get(`bot-response/${this.bot_id}/`)
      .then((response) => {
        if (response) {
          this.setResponses(response.data)
        }
      })
  },
  methods: {
    ...mapMutations('responses', ['setResponses', 'setBotId', 'addIncomingMessage']),
  }
}
</script>

<style scoped>
  #create .v-speed-dial {
    position: absolute;
  }

  #create .v-btn--floating {
    position: relative;
  }

  .custom_scroll::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }

  .custom_scroll::-webkit-scrollbar
  {
      width: 12px;
  }

  .custom_scroll::-webkit-scrollbar-thumb
  {
      border-radius: 50px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #1976D2;
  }
</style>