<template>
  <v-container
    fluid
    fill-height
    class="justify-center align-content-center"
  >
    <v-layout
      align-center
      justify-center
      row
    >
      <v-flex
        xs12
        sm8
        md6
      >
        <!-- Логотип -->
        <v-img
          :src="require('@/assets/images/logo.svg')"
          min-width="300px"
          width="20vw"
          alt="logo"
          class="mx-auto auth_logo"
        />
        <ui-card title="loginFrom">
          <v-card-text>
            <!-- Форма авторизации -->
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-text-field
                v-model="email"
                :rules="emailRules"
                :label="$t('email')"
                prepend-icon="mdi-email"
                name="email"
                type="email"
                required
              />

              <v-text-field
                v-model="password"
                :rules="passwordRules"
                :label="$t('password')"
                prepend-icon="mdi-lock"
                name="password"
                type="password"
                required
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="info darken-1"
              class="pr-2"
              text
              @click="registration"
            >
              {{ $t('registration') }}
            </v-btn>
            <v-spacer />
            <v-btn
              color="success"
              text
              class="pr-2"
              @click="submit"
            >
              {{ $t('entrance') }}
            </v-btn>
          </v-card-actions>
          <v-progress-linear
            v-if="loading"
            indeterminate
            color="primary"
          />
        </ui-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import i18n from '@/translate'
import { mapMutations } from 'vuex'
export default {
  name: 'Login',
  /**
     * Данные компонента
     */
  data: () => ({
    email: '',
    password: '',
    emailRules: [
      v => !!v || i18n.t('fieldRequired'),
      v => /.+@.+\..+/.test(v) || i18n.t('emailFailed')
    ],
    passwordRules: [v => !!v || i18n.t('fieldRequired')],
    valid: true, // текущее состояние валидации формы
    loading: false,
  }),
  /**
     * Методы компонента
     */
  methods: {
    // импортируем нужные мутации из хранилища
    ...mapMutations(['setToken']),
    ...mapMutations('app', ['setError', 'setErrorText']),
    /**
       * Отравка на сервер данных
       */
    submit () {
      // если прошли валидацию
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$http.post('authentication/login/', {
          email: this.email,
          password: this.password,
        }).catch((error) => {
          if(error.response.data.email) {
            this.setErrorText(error.response.data.email)
            this.setError(true)
          }
          else{
            this.setErrorText("Неккоректные данные")
            this.setError(true)
          }
        }).then((response) => {
          if(response){
            let data = response.data
            let token = data.token
            this.setToken(token)
            this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`
            this.$router.replace('/')
          }
        }).finally(() => {this.loading = false})
      }
    },
    /**
       * Переход к регистрации
       */
    registration () {
      this.$router.push('/registration')
    }
  }
}
</script>
