<template>
  <v-container v-if="bots.length || loading">
    <v-row justify="center">
      <v-col
        cols="12"
        sm="6"
      >
        <ui-card
          title="Статистика по ботам"
          color="success"
          max-width="1000px"
        >
          <v-data-table
            :headers="headers"
            :items="bots"
            :items-per-page="5"
            class="elevation-1"
          />
        </ui-card>
      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <v-alert
          type="info"
        >
          В разработке
        </v-alert>
        <v-skeleton-loader
          ref="skeleton"
          type="article"
          class="mx-auto"
        />
        <v-skeleton-loader
          ref="skeleton"
          type="article"
          class="mx-auto"
        />
        <v-skeleton-loader
          ref="skeleton"
          type="article"
          class="mx-auto"
        />
      </v-col>
    </v-row>
  </v-container>
  <v-container v-else>
    <v-row justify="center">
      <v-col
        cols="12"
        sm="4"
      >
        <v-card
          class="mx-auto"
          max-width="400"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            :src="require('@/assets/images/create_bot.svg')"
          />
          <v-card-title>
            Добавьте своего первого бота
          </v-card-title>

          <v-card-subtitle class="pb-0">
            <v-row
              align="center"
              class="mx-0"
            >
              <div class="grey--text mr-4">
                Сложность
              </div>

              <v-rating
                :value="3.5"
                color="amber"
                dense
                half-increments
                readonly
                size="14"
              />
            </v-row>
          </v-card-subtitle>

          <v-card-text class="text--primary">
            <div>
              Проследуйте небольшой инструкции и заполните данные по боту, в дальнейшем вам будет доступна
              настройка его ответов
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn
              color="success"
              text
              @click="$router.push('/bots/add')"
            >
              Добавить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <v-alert
          type="info"
        >
          В разработке
        </v-alert>
        <v-skeleton-loader
          ref="skeleton"
          type="card"
          class="mx-auto"
        />
        <v-skeleton-loader
          ref="skeleton"
          type="card"
          class="mx-auto"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Main',
  /**
         * Данные компонента
         */
  data() {
    return {
      headers: [
        {
          text: 'Название',
          align: 'left',
          sortable: false,
          value: 'name',
        },
        {text: 'Тип', value: 'type_info'},
        {text: 'Успешных ответов', value: 'info.success_response'},
        {text: 'Неопознанных ответов', value: 'info.unidentified_messages'},
      ],
      bots: [],
      loading: true
    }
  },
  created() {
    this.loading = true
    this.$http.get('bot/')
      .then((response) => {
        if (response) {
          this.bots = response.data
        }
      }).finally(() => this.loading = false)
  }
}
</script>
