<template>
  <v-container
    fluid
    fill-height
    class="justify-center align-content-center"
  >
    <v-layout
      align-center
      justify-center
      row
    >
      <v-flex
        xs12
        sm8
        md6
      >
        <!-- Логотип -->
        <v-img
          :src="require('@/assets/images/logo.svg')"
          min-width="300px"
          width="20vw"
          alt="logo"
          class="mx-auto auth_logo"
        />
        <ui-card title="registrationForm">
          <template v-if="input_stage">
            <v-card-text>
              <!-- Форма авторизации -->
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
              >
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  :label="$t('email')"
                  prepend-icon="mdi-email"
                  name="email"
                  type="email"
                  required
                />
                <v-text-field
                  v-model="password"
                  :rules="passwordRules"
                  :label="$t('password')"
                  prepend-icon="mdi-lock"
                  name="password"
                  type="password"
                  required
                />
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="error darken-1"
                class="pr-2"
                text
                @click="back"
              >
                {{ $t('back') }}
              </v-btn>
              <v-btn
                color="success"
                class="pr-2"
                text
                @click="submit"
              >
                {{ $t('toRegister') }}
              </v-btn>
            </v-card-actions>
          </template>
          <template v-else>
            <v-card-text>
              <v-alert
                type="success"
                class="mb-2"
              >
                Ссылка для активации аккаунта отправлена вам на почту
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="success"
                class="pr-2"
                text
                @click="$router.push('/login')"
              >
                {{ $t('toRegister') }}
              </v-btn>
            </v-card-actions>
          </template>
          <v-progress-linear
            v-if="loading"
            indeterminate
            color="primary"
          />
        </ui-card>>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import i18n from '@/translate'
import { mapMutations } from 'vuex'

export default {
  name: 'Register',
  /**
     * Данные компонента
     */
  data: () => ({
    // модели полей
    password: '',
    passwordConfirm: '',
    email: '',
    // валидация полей
    passwordRules: [v => !!v || i18n.t('fieldRequired')],
    emailRules: [
      v => !!v || i18n.t('fieldRequired'),
      v => /.+@.+\..+/.test(v) || i18n.t('emailFailed')
    ],
    // текущее состояние валидации формы
    valid: true,
    loading: false,
    input_stage: true,
  }),
  /**
     * Методы компонента
     */
  methods: {
    // импортируем нужные мутации из хранилища
    ...mapMutations(['setToken']),
    ...mapMutations('app', ['setError', 'setErrorText']),
    /**
       * Отравка на сервер данных
       */
    submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$http.post('authentication/register/', {
          email: this.email,
          password: this.password,
        }).catch((error) => {
          if(error.response.data.email) {
            this.setErrorText(error.response.data.email)
            this.setError(true)
          }
          else{
            this.setErrorText("Неккоректные данные")
            this.setError(true)
          }
        }).then((response) => {
          if(response){
            this.input_stage = false
          }
        }).finally(() => {
          this.loading = false
        })
      }
    },
    /**
       * Переход к авторизации
       */
    back () {
      this.$router.replace('/login')
    }
  }
}
</script>

<style scoped>

</style>
