<template>
  <v-container
    fluid
    fill-height
    class="justify-center align-content-center"
  >
    <v-layout
      align-center
      justify-center
      row
    >
      <v-flex
        xs12
        sm8
        md6
      >
        <!-- Логотип -->
        <v-img
          :src="require('@/assets/images/logo.svg')"
          min-width="300px"
          width="20vw"
          alt="logo"
          class="mx-auto auth_logo"
        />
        <ui-card title="Активация">
          <v-card-text>
            <v-alert
              v-if="error"
              type="error"
              class="mb-2"
            >
              Код устарел или уже активирован
            </v-alert>
            <template v-else>
              <v-alert
                type="info"
                class="mb-2"
              >
                Производим активацию аккаунта
              </v-alert>
              <v-progress-linear
                indeterminate
                color="primary"
              />
            </template>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="success"
              class="pr-2"
              text
              @click="$router.push('/registration')"
            >
              {{ $t('Перерегистрация') }}
            </v-btn>
          </v-card-actions>
          <v-progress-linear
            v-if="loading"
            indeterminate
            color="primary"
          />
        </ui-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'VerifyEmail',
  /**
     * Данные компонента
     */
  props: {
    email_key: {
      type: String,
      require: true
    }
  },
  data: () => ({
    loading: false,
    error: false
  }),
  created() {
    this.submit()
  },
  /**
     * Методы компонента
     */
  methods: {
    // импортируем нужные мутации из хранилища
    ...mapMutations(['setToken']),
    ...mapMutations('app', ['setError', 'setErrorText']),
    /**
       * Отравка на сервер данных
       */
    submit () {
      // если прошли валидацию
      this.loading = true
      this.$http.post('authentication/verify-email/', {
        key: this.email_key,
      }).catch((error) => {
        if(error.response.data.status === 1) {
          this.setErrorText("Email адрес не подтвержден")
          this.setError(true)
        }
        else{
          this.setErrorText("Неккоректные данные")
          this.setError(true)
        }
        this.error = true
      }).then((response) => {
        console.log(response)
        if(response){
          let data = response.data
          let token = data.token
          this.setToken(token)
          this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`
          this.$router.replace('/')
        }
      }).finally(() => {this.loading = false})
    },
    /**
      * Переход к регистрации
      */
    registration () {
      this.$router.push('/registration')
    }
  }
}
</script>
