<template>
  <!-- точка входа в приложение -->
  <core-app />
</template>
<script>

import {mapGetters} from "vuex";

export default {
  name: 'App',
  // вычисляемые значения
  computed: {
    ...mapGetters('app', ['getLocale', 'isDarkTheme']),
  },
  // логика при открытии приложения
  created () {
    // устанавливаем текущую тему vuetify
    this.$vuetify.theme.dark = this.isDarkTheme
    // устанавливаем текущий язык vuetify и i18n
    console.log(this.getLocale)
    this.$vuetify.lang.current = this.getLocale
    this.$i18n.locale = this.getLocale
  }
}
</script>
<style lang="sass">
  @import '@/styles/index.sass'
</style>
