<template>
  <v-card
    class="elevation-6 ma-5 mx-auto"
    :max-width="maxWidth"
  >
    <v-toolbar
      :color="color"
      dark
      flat
      class="elevation-12 mr-5 ml-5 card_title"
    >
      <v-toolbar-title>
        {{ $t(title) }}
      </v-toolbar-title>
    </v-toolbar>
    <slot />
  </v-card>
</template>

<script>
export default {
  name: "Card",
  props: {
    color: {
      type: String,
      required: false,
      default: "primary"
    },
    title: {
      type: String,
      required: true
    },
    maxWidth: {
      type: String,
      required: false,
      default: '600px'
    }
  }
}
</script>

<style scoped>

</style>